footer.b-footer
    .container
        .row.b-footer__menu
            each social in ['Facebook', 'Twitter', 'Google+', 'LinkedIn', 'Behance', 'Dribbble', 'GitHub']
                .col
                    a.h4.b-footer__menu-link(href='#')= social
