header.b-header
    .b-header__container.container
        a(href='/').b-header__logo.b-logo
        ul.b-header__menu
            li.b-header__menu-item.is-active
                a(href='#home').b-header__menu-link Home
            li.b-header__menu-item
                a(href='#about').b-header__menu-link About
            li.b-header__menu-item
                a(href='#work').b-header__menu-link Work
            li.b-header__menu-item
                a(href='#blog').b-header__menu-link Blog
            li.b-header__menu-item
                a(href='#contact').b-header__menu-link Contact
