.l-service {
    color: #ffffff;
    background-color: #17c2a4;
}

.l-service__row {
    margin-top: -3rem;
}

.l-service__card {
    text-align: center;
    margin-top: 3rem;
}

.l-service__picture {
    display: block;
    margin-bottom: 2rem;
}

.l-service__title {
    margin-bottom: 1rem;
}

.l-service__description {
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
}
