section#home.l-home.container-fluid
    .container
        .l-home__content
            h1.l-home__title.display-4 Hi there! We are the new kids on the block and we build awesome websites and mobile apps.
            button.b-button.b-button--primary.l-home__button.jsHomeButtonWork WORK WITH US!
