-
    var data = [
        {
            title: 'Branding',
            image: './images/flag.png',
            description: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.'
        },
        {
            title: 'Design',
            image: './images/crayon.png',
            description: 'Sed ut perspiciatis unde omnis iste natus error sit voluptatem'
        },
        {
            title: 'Development',
            image: './images/gears.png',
            description: 'At vero eos et accusamus et iusto odio dignissimos qui blanditiis praesentium.'
        },
        {
            title: 'Rocket science',
            image: './images/rocket.png',
            description: 'Et harum quidem rerum est et expedita distinctio. Nam libero tempore.'
        },
    ]

section#service.b-section.container-fluid.l-service
    .b-section__header
        h2.b-section__title SERVICES WE PROVIDE
        p.b-section__description We are working with both individuals and businesses from all over the globe to create awesome websites and applications.
    .l-section__content.container
        .row.l-service__row
            for item in data
                .col.col-12.col-sm-6.col-md-3.l-service__column
                    .l-service__card
                        +picture(item.image, {webp: true, avif: true}).l-service__picture
                        h3.l-service__title= item.title
                        p.l-service__description= item.description
