section#service.b-section.container-fluid.l-service
    .b-section__header
        h2.b-section__title SERVICES WE PROVIDE
        p.b-section__description We are working with both individuals and businesses from all over the globe to create awesome websites and applications.
    .l-section__content.container
        .row.l-service__row
            .col.col-12.col-sm-6.col-md-3.l-service__column
                .l-service__card
                    picture.l-service__picture
                        img.l-service__image(src="./images/flag.png" alt="")
                    h3.l-service__title Branding
                    p.l-service__description
                        | Lorem ipsum dolor sit amet,
                        | consectetuer adipiscing elit,
                        | sed diam nonummy nibh.
            .col.col-12.col-sm-6.col-md-3.l-service__column
                .l-service__card
                    picture.l-service__picture
                        img.l-service__image(src="./images/crayon.png" alt="")
                    h3.l-service__title Design
                    p.l-service__description
                        | Sed ut perspiciatis unde omnis
                        | iste natus error sit voluptatem
            .col.col-12.col-sm-6.col-md-3.l-service__column
                .l-service__card
                    picture.l-service__picture
                        img.l-service__image(src="./images/gears.png" alt="")
                    h3.l-service__title Development
                    p.l-service__description
                        | At vero eos et accusamus et
                        | iusto odio dignissimos
                        | qui blanditiis praesentium.
            .col.col-12.col-sm-6.col-md-3.l-service__column
                .l-service__card
                    picture.l-service__picture
                        img.l-service__image(src="./images/rocket.png" alt="")
                    h3.l-service__title Rocket science
                    p.l-service__description
                        | Et harum quidem rerum est
                        | et expedita distinctio.
                        | Nam libero tempore.
