mixin progress(percent, color)
    div(data-percent=percent class=`progress-circle ${percent > 50 && ' progress-circle--over-half'}`, style=`--progress-bar-color: ${color}`)&attributes(attributes)
        span.progress-circle__value= `${percent}%`
        .progress-circle__clipper
            .progress-circle__bar
            .progress-circle__value-bar

section.b-section.container-fluid.l-skills
    .b-section__header
        h2.b-section__title WE GOT SKILLS!
        p.b-section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .l-section__content.container
        .row.l-skills__row
            .col.col-12.col-sm-6.col-md-3.l-skills__column
                .l-skills__card
                    +progress(90, '#30bae7').l-skills__progress
                    h3.h4.l-skills__card-title Web Design
            .col.col-12.col-sm-6.col-md-3.l-skills__column
                .l-skills__card
                    +progress(75, '#d74680').l-skills__progress
                    h3.h4.l-skills__card-title HTML / CSS
            .col.col-12.col-sm-6.col-md-3.l-skills__column
                .l-skills__card
                    +progress(70, '#15c7a8').l-skills__progress
                    h3.h4.l-skills__card-title GRAPHIC DESIGN
            .col.col-12.col-sm-6.col-md-3.l-skills__column
                .l-skills__card
                    +progress(85, '#eb7d4b').l-skills__progress
                    h3.h4.l-skills__card-title UI / UX
