-
    var data = [
        {
            title: 'HTML / CSS',
            percent: 90,
            color: '#d74680',
        },
        {
            title: 'Javascript',
            percent: 65,
            color: '#30bae7',
        },
        {
            title: 'React',
            percent: 70,
            color: '#15c7a8',
        },
        {
            title: 'Webpack',
            percent: 75,
            color: '#eb7d4b',
        },
    ]

section.b-section.container-fluid.l-skills
    .b-section__header
        h2.b-section__title WE GOT SKILLS!
        p.b-section__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .l-section__content.container
        .row.l-skills__row
            for item in data
                .col.col-12.col-sm-6.col-md-3.l-skills__column
                    .l-skills__card
                        +progress(item.percent, item.color).l-skills__progress
                        h3.h4.l-skills__card-title= item.title
