-
    var data = [
        {
            title: 'Isometric Perspective Mock-Up',
            image: './images/portfolio_1.png',
        },
        {
            title: 'Time Zone App UI',
            image: './images/portfolio_2.png',
        },
        {
            title: 'Viro Media Players UI',
            image: './images/portfolio_3.png',
        },
        {
            title: 'Blog / Magazine Flat UI Kit',
            image: './images/portfolio_4.png',
        },
    ]

section.b-section.container-fluid.l-portfolio
    .b-section__header
        h2.b-section__title OUR PORTFOLIO
        p.b-section__description Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam
    .l-section__content.container
        //ul.l-portfolio__menu
            li.l-portfolio__menu-item
                a.l-portfolio__menu-link ALL
            li.l-portfolio__menu-item
                a.l-portfolio__menu-link WEB
            li.l-portfolio__menu-item
                a.l-portfolio__menu-link APPS
            li.l-portfolio__menu-item
                a.l-portfolio__menu-link ICONS
        .row.l-portfolio__row
            for item in data
                .col.col-12.col-lg-6.l-portfolio__column
                    .l-portfolio__card
                        +picture(item.image, {webp: true, avif: true}).l-portfolio__card-picture
                        h3.h5.l-portfolio__card-title= item.title
        button.b-button.b-button--secondary.l-portfolio__button LOAD MORE PROJECTS
