-
    var data = [
        {
            name: 'Chanel Iman',
            position: 'CEO of Pinterest',
            image: './images/team/v3_0226318.jpg',
            text: '“Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla urna eu nisl scelerisque.”'
        },
        {
            name: 'Anne Hathaway',
            position: 'Lead Designer at Behance',
            image: './images/team/v3_0033536.jpg',
            text: '“Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta.”'
        },
        {
            name: 'Adriana Lima',
            position: 'Founder of Instagram',
            image: './images/team/v3_0227647.jpg',
            text: '“Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta.”'
        },
        {
            name: 'Emma Stone',
            position: 'SEO / Developer',
            image: './images/team/v3_0327101.jpg',
            text: '“Phasellus non purus vel arcu tempor commodo. Fusce semper, purus vel luctus molestie, risus sem cursus neque.”'
        },
    ]

section.b-section.container-fluid.l-about
    .b-section__header
        h2.b-section__title WHAT POEPLE SAY ABOUT US
        p.b-section__description Our clients love us!
    .l-section__content.container
        .row.l-about__row
            for item in data
                .col.col-12.col-lg-6.l-about__column
                    .l-about__card
                        .l-about__card-sider
                            +picture(item.image, {webp: true, avif: true}).l-about__card-picture
                        .l-about__card-content
                            p.h5.l-about__card-text= item.text
                            h3.h5.l-about__card-name= item.name
                            .l-about__card-position= item.position
