doctype html
html(lang="en")
    head
        title Cuda
        link(href='./css/vendor.css', rel='stylesheet')
        link(href='./css/main.css', rel='stylesheet')
    body
        include ./blocks/_b-header
        include ./sections/_1-home
        include ./sections/_2-service
        include ./sections/_3-team
        include ./sections/_4-skills
        include ./sections/_5-portfolio
        include ./sections/_6-about
        include ./sections/_7-contact
        include ./blocks/_b-footer

        script(src='./js/main.js')
